.content-area {
  padding-top: 110px;
  /* Navbar height (90px) + Gap (20px) */
  min-height: calc(100vh - 90px);
  padding-bottom: 40px;
}

.app-main-container {
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  .content-area {
    padding-top: 90px;
    /* Navbar height (70px) + Gap (20px) */
    min-height: 100vh;
  }

}